$dialog-login-background-color: #83c748;
$create-account-background-color: #a1a1a2;
$dialog-trigger-color: #e5e5e5;

$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$font-weight: 400;
$font-weight-bold: 500;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

$social-facebook-btn-background: #167abc;
$social-twitter-btn-background: #03b4d5;
$social-google-plus-btn-background: #e44959;
$social-envelope-btn-background: #7754aa;

$blank_page_color:#000;