/**
 * 为panel生成一组专用样式
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #58666e,
    $ui-header-glyph-color: #58666e,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: #cccccc,
    $ui-header-padding: 0,
    $ui-header-text-margin: 8px,
    $ui-header-noborder-adjust: false
);