<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>注册提示邮件</title>
</head>
<body>
		<div class="maillogo">这里放logo</div>
		<div class="mailline">正在注册...</div>
		<div class="mailcon">
			<div class="conle">嘿嘿</div>
			<div class="conri">{0}<br />
恭喜您成为XXX网的免费会员，为了您的账号安全，请点击以下链接完成邮箱验证：<br /><br />
<a href="javascript:;" class="blue">{1}</a><br /><br />
(若不能点击该链接，请将链接复制并粘贴到您的浏览器地址栏内)
			</div>
			<div style="clear:both"></div>
			<div class="confoot">温馨提示...  </div>
		</div>
		<div class="mailfoot"></div>		
</body>
</html>
