.auth-locked-window{
  .x-window-body {
	background-url:url(resources/images/loginBg.jpg);
	background-size:cover;
	background-repeat:repeat;
  }

  &.x-window-default {
	border: none;
	border-radius: 0;
	padding: 0;
  }
}
