/*@include extjs-tab-panel-ui{
	$ui-strip-height: $tabbar-strip-height,
    $ui-strip-border-width: $tabbar-strip-border-width,
    $ui-strip-border-color: $tabbar-strip-border-color,
    $ui-strip-background-color: $tabbar-strip-background-color,
 
    $ui-border-width: $tabbar-border-width,
    $ui-border-color: $tabbar-border-color,
    $ui-padding: $tabbar-padding,
    $ui-plain-padding: $tabbar-plain-padding,
    $ui-background-color: $tabbar-base-color,
    $ui-background-gradient: $tabbar-background-gradient,
    $ui-scroller-width: $tabbar-scroller-width,
    $ui-scroller-height: $tabbar-scroller-height,
    $ui-scroller-top-margin: $tabbar-scroller-top-margin,
    $ui-scroller-right-margin: $tabbar-scroller-right-margin,
    $ui-scroller-bottom-margin: $tabbar-scroller-bottom-margin,
    $ui-scroller-left-margin: $tabbar-scroller-left-margin,
    $ui-scroller-cursor: $tabbar-scroller-cursor,
    $ui-scroller-cursor-disabled: $tabbar-scroller-cursor-disabled,
    $ui-scroller-opacity: $tabbar-scroller-opacity,
    $ui-scroller-opacity-over: $tabbar-scroller-opacity-over,
    $ui-scroller-opacity-pressed: $tabbar-scroller-opacity-pressed,
    $ui-scroller-opacity-disabled: $tabbar-scroller-opacity-disabled,
    $ui-scroller-glyph-color: $tabbar-scroller-glyph-color,
    $ui-plain-scroller-glyph-color: $tabbar-plain-scroller-glyph-color,
    $ui-scroller-top-glyph: $tabbar-scroller-top-glyph,
    $ui-scroller-right-glyph: $tabbar-scroller-right-glyph,
    $ui-scroller-bottom-glyph: $tabbar-scroller-bottom-glyph,
    $ui-scroller-left-glyph: $tabbar-scroller-left-glyph,
    $ui-classic-scrollers: $tabbar-classic-scrollers,
}*/