.x-component-default {min-height:33px;height: 100%;}
.thumb-wrap{
  width:128px;height:128px; border:0px solid red; float:left; margin:8px;text-align:center
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 5px;
}

#container {
  position: relative;
  padding: 0 0 0 80px;
  min-width: 1100px;
  font-size: 14px;
  height: 100%;
}
.xsd-text-center {
  text-align: center;
}
#separate>div#rentalContainer {
  background: inherit;
}
.status_toolbar{
	color:#fff;
}
#separate>div {
  margin-left: 8px;
  padding: 0 16px 16px;
  margin-top: 20px;
  margin-right: 20px;
  background: #FFF;
}

#separate>div#rentalContainer .top {
  line-height: 42px;
  border-bottom: 2px #e7e7e7 dotted;
}

.xsd-margin-t16 {
  margin-top: 16px;
}

.xsd-font-size16 {
  font-size: 16px;
}

#separate>div#rentalContainer .top a.apartment {
  margin-left: 0;
  color: #333;
}

#separate>div#rentalContainer .top a {
  color: #59acff;
}

#separate>div#rentalContainer .top .xsd-margin-l32 {
  margin-left: 32px;
}

#separate>div#rentalContainer .top a {
  color: #59acff;
}

.font-size14 {
  font-size: 14px;
  font-weight: 300;
}

.xsd-clearfix {
  zoom: 1;
}

.xsd-clearfix:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}


.xsd-bg-primary {
  background: #59acff;
}
.xsd-bg-gray {
  background: #F5F5F5;
}

address, cite, dfn, em, i, var {
  font-style: normal;
}

#separate>div#rentalContainer .roomList li {
  float: left;
  list-style-type:none;
}

#separate>div#rentalContainer .roomList li dt {
  padding: 8px 0 8px
}

#separate>div#rentalContainer .roomList li dd {
  margin-left:5px;
  width: 187px;
  position: relative;
  background: #fff;
  height: 38px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  cursor: pointer;
  font-size: 12px
}

#separate>div#rentalContainer .roomList li dd i {
  position: absolute;
  width: 6px;
  height: 38px
}

#separate>div#rentalContainer .roomList li dd a,#separate>div#rentalContainer .roomList li dd span {
  display: inline-block;
  padding: 10px 0 0 22px
}

#separate>div#rentalContainer .roomList li dd img {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 1
}

#separate>div#rentalContainer .roomList li dd.add {
  font-weight: bolder;
  line-height: 36px;
  font-size: 24px
}

#separate>div#rentalContainer .roomList li dd:hover .contract_card {
  display: block
}

#separate>div#rentalContainer .roomList li dd .contract_card {
  display: none;
  position: absolute;
  background: #fff;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  font-size: 12px
}

#separate>div#rentalContainer .roomList li dd .contract_card .card_top {
  padding: 5px 0 0 12px;
  width: 187px;
  background: #fff3f3;
  height: 38px
}

#separate>div#rentalContainer .roomList li dd .contract_card .card_top .margin-top-2 {
  margin-top: -6px
}

#separate>div#rentalContainer .roomList li dd .contract_card .card_top .margin-top-2 span {
  padding-top: 0
}

#separate>div#rentalContainer .roomList li dd .contract_card .card_bottom {
  padding: 6px 14px
}

#separate>div#rentalContainer .roomList li dd .contract_card .card_bottom a {
  color: #fff;
  background: #59acff;
  padding: 2px 6px;
  margin-right: 10px
}

#separate>div#rentalContainer .roomList li dd .card_top_gray {
  background: #f1f1f1!important;
}

#separate>div#rentalContainer .roomList li dd .card_top_bule {
  background: #e8f3ff!important;
}

#separate>div#rentalContainer .roomList li dd .card_top_yellow {
  background: #fff0df!important;
}

#separate>div#rentalContainer .roomList li dd .card_top_red {
  color: #fd6164;
}

/* 改变弹出框样式 */
.x-window-default {
    border-color: #b6babe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
/* 文章展示页面所需样式 */
.news_article {
    width: 1000px;
    margin: auto;
}

.news_article .title {
    font-family: 宋体;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px 0 20px;
}

.news_article .title_sth {
    padding: 10px;
}

.news_article .line {
    border-bottom: #cccccc 1px dashed;
}

.news_article .content {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}

/* grid 按钮样式 */
.command-success-color{
	background:#27c24c;
}
.command-info-color{
	background:#23b7e5;
}
.command-light-color{
	background:#edf1f2;
}
.command-exp-color{
	background:#7266ba;
}
.command-modify-color{
	background : #1ab394;
}
.command-remove-color{
	background : #f8ac59;
}
.command-yellow-color{
	background:#FFFF00;
}
.command-none-color{
	background:#ffffff;
}
.command-red-color{
	background:#d44837;
}

/* gridpanel 各行换色颜色 */
.x-grid-row-blue{
	background:#fff;
}
.x-grid-row-hight{
	background:#edf1f2;
}

/* 重写滚动条样式  */
::-webkit-scrollbar-track { -webkit-border-radius: 0px;border-radius: 0px;}
::-webkit-scrollbar-thumb {-webkit-border-radius: 0px;border-radius: 0px;background: rgba(134,134,134,0.5);}
::-webkit-scrollbar-thumb:window-inactive {background: rgba(134,134,134,0.4); }

::-webkit-scrollbar{height:4px;width:11px;margin-right:5px;background:rgba(222,222,222,0.5);transition:all 0.3s ease-in-out;border-radius:0px}
::-webkit-scrollbar-thumb{-webkit-border-radius: 0px;border-radius: 0px;background: rgba(134,134,134,0.5); }
::-webkit-scrollbar-thumb:hover{background:rgba(134,134,134,0.6)}
::-webkit-scrollbar-thumb:active{background:rgba(134,134,134,0.8)}

/** 系统小部件样式控制 适用于widget-Tip  */
.dashboard-stats{}
.dashboard-stats-item {
    position: relative;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    height: 105px;
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
    padding-left: 15px;
    padding-top: 20px;
}
.dashboard-stats-item .stat-icon {
    position: absolute;
    top: 18px;
    font-size: 50px;
    opacity: .3;
}
.dashboard-stats-item .m-top-none {
    margin-top: 5px;
}
.dashboard-stats-item h2 {
    font-size: 28px;
    font-family: inherit;
    line-height: 1.1;
    font-weight: 500;
    /* padding-left: 70px; */
}
.dashboard-stats-item h2 span {
    font-size: 12px;
    padding-left: 5px;
}
.dashboard-stats-item h5 {
    font-size: 12px;
    font-family: inherit;
    margin-top: 1px;
    line-height: 1.1;
    padding-left: 70px;
}

/**
	自定义容器
*/

.panel-default {
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin : 5px;
}
.panel-heading {
    padding: 6px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default > .panel-heading {
    color: #777;
    background-color: #fff;
    border-color: #e6e6e6;
    padding: 10px 10px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-body {
    padding: 15px;
}
.panel-default > .panel-body {
    padding: 10px;
    padding-bottom: 0px;
}
/*文字列表*/
.panel-default > .panel-body ul {
    overflow: hidden;
    padding: 0;
    margin: 0px;
    margin-top: -5px;
}
.panel-default > .panel-body ul li {
    line-height: 27px;
    list-style-type: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.panel-default > .panel-body ul li .time {
    color: #a1a1a1;
    float: right;
    padding-right: 5px;
}
.panel-default > .panel-body ul li a{
    color: #475059;
    text-decoration: none;
}
.panel-default > .panel-body ul li a:hover,a:active,a:focus {
    outline:none;
    text-decoration:none;
    color:#72afd2
}

/* 绘图页面所需样式 */
.component {
	-moz-border-radius:3px;
	height: 35px;
	width: 50px;
	border: solid black 2px;
	text-align:center;
	color:black;
	font:normal 12px arial;
	background: #CCCCFF url(bg1.png) repeat-x scroll center bottom;
	overflow:hidden;
	display:block;
	cursor:pointer;
}
#FormBuilderComponentSelector .component {
	margin: 5px;
	float: left;
}
#FormBuilderComponentSelector .component.over {
	border-color:navy;
}
#FormBuilderComponentSelector .component.selected {
	border-color:blue;
}

.selectedElementParent *, .selectedElementParent {
	border-color:#456579;
}
.selectedElement *, .selectedElement {
	border-color:red;
}

/* Email 数量显示 */
.emailCount{
	position:relative;
	background: red;
	color: white;  
	border-radius: 5px; /*圆角*/
	padding: 0px 3px; /*左右边距*/
	top: -2px; /*数字离图片右上角的高度*/
	left:-6px;
}

/* 图表需要 */
.itushuo-step-body .itushuo-chart-template-container .itushuo-hsplitter .panel.right .itushuo-hsplitter-body {
    padding-top: 10px;
}
.itushuo-step-body .itushuo-hsplitter .panel.right .itushuo-hsplitter-body {
    color: #31436b;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: auto;
}
.itushuo-hsplitter-body {
    color: #424264;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
}
.itushuo-chart-template-preview {
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 23%;
    max-width: 150px;
    height: 100px;
    display: inline-block;
    border: 4px solid #dfe8f6;
    margin: 1%;
    cursor: pointer;
    box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    transition: all .2s ease;
    -moz-transition: .2s ease all;
    -webkit-transition: all .2s ease;
}
*, :after, :before {
    box-sizing: border-box;
}
.itushuo-chart-template-title {
    display: block;
    background-color: rgba(66,66,100,.8);
    bottom: 0;
    width: 100%;
    line-height: 2em;
    border-radius: 0;
    position: absolute;
    font-size: .8em;
    color: #fff;
    text-align: center;
    transition: bottom .2s;
    z-index: 1;
    transition: all .2s ease;
    -moz-transition: .2s ease all;
    -webkit-transition: all .2s ease;
}
/* 颜色值 */
.yellow{color : #ffff00;}

.text_weixin_gb{
	color : #1aca43;	
}
.text_renren_gb{
	color : #1aca43;	
}
.text_qq_gb{
	color : #029cfe;	
}
.text_weibo_gb{
	color : #e82641;	
}

/* 系统自定义图标 */
.CHART_RSQL16 {margin-top: 0px;width: 16px;height: 16px;background: url(icons/icon.png) no-repeat 0px -6656px !important;}
.JCODE_FUNCTION16 {margin-top: 0px;width: 16px;height: 16px;background: url(icons/icon.png) no-repeat 0px -2608px !important;}
.chart_add{margin-top: 0px;width: 16px;height: 16px;background: url(icons/icon.png) no-repeat 0px -784px !important;}
.CHART_ZHUX16{margin-top: 0px;width: 16px;height: 16px;background: url(icons/icon.png) no-repeat 0px -6908px !important;}
.CHART_LEIDA16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -7964px !important;}
.CHART_PIN16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -7628px !important;}
.CHART_LINE16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -7516px !important;}
.CHART_TIAOXING16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -7148px !important;}
.CHART_ZHUX16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -6908px !important;}
.CHART_RTXING16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -6844px !important;}
.CHART_YIBP16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -6624px !important;}
.CHART_RSQL16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -6656px !important;}
.CHART_BING9716{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -6288px !important;}
.CHART_ZHUIXTU16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -6304px !important;}
.CHART_ZUHE16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -6128px !important;}
.CHART_ADDFOLDER{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -4720px !important;}
.CHART_DATAS0116{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -4416px !important;}
.CHART_YANGSHI16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -4208px !important;}
.CHART_WDJ16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -3952px !important;}
.CHART_PROJECT16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -3808px !important;}
.CHART_MIANJI16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -3072px !important;}
.CHART_GLTJ{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -2864px !important;}
.CHART_JIBEN16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -2880px !important;}
.CHART_GAOJI16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -2464px !important;}
.CHART_CHART16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -2080px !important;}
.CHART_DATAS0216{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -2032px !important;}
.CHART_PLT16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -1904px !important;}
.CHART_DUIJI16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -1744px !important;}
.CHART_ROMEDATABAES{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -1776px !important;}
.CHART_RJS16{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -1504px !important;}
.CHART_BING6716{margin-top:0px;width:16px;height:16px;background:url(icons/icon.png) no-repeat 0px -1296px !important;}
.form_search{margin-top: 0px;width: 16px;height: 16px;background: url(icons/icon.png) no-repeat 0px -5216px !important;}
.DEBUGGER{margin-top: 0px;width: 16px;height: 16px;background: url(icons/icon.png) no-repeat 0px -2400px !important;}

.CHART_CHART24 {
    margin: 9px 5px 9px 3px;
    height: 16px;
    background: url(icons/icon.png) no-repeat 0px -2080px !important;
}

.EDIT_ON {
    margin-top: 0px;
    width: 16px;
    height: 16px;
    background: url(icons/icon.png?version=16) no-repeat 0px -6432px !important;
}

.CHART_ROMEDATABAES {
    margin-top: 0px;
    width: 16px;
    height: 16px;
    background: url(icons/icon.png) no-repeat 0px -1776px !important;
}
.my_add {margin-top: 0px;width: 16px;height: 16px;background: url(icons/icon.png) no-repeat 0px -6640px !important;}

/*
	版本更新提示样式
*/
.updateNoticePanel,.scrollbar {
    scrollbar-face-color: #1a8bd9;
    scrollbar-track-color: #cfcfcf;
    scrollbar-arrow-color: #cfcfcf;
}
.updateNoticePanel ::-webkit-scrollbar,.scrollbar ::-webkit-scrollbar {
    width: 4px;
}
.updateNoticePanel ::-webkit-scrollbar-thumb,.scrollbar ::-webkit-scrollbar-thumb {
    background: #1a8bd9;
    border-radius: 4px;
}
.updateNoticePanel ::-webkit-scrollbar-track,.scrollbar ::-webkit-scrollbar-track {
    background: #cfcfcf;
}
/* 登陆界面 */
.auth-dialog .x-form-trigger {
    text-align: right;
    width: 50px;
}

.auth-dialog .trigger-glyph-noop {
    cursor: default;
}
.auth-textbox{
    width: 32px;
    font: 16px/30px FontAwesome;
    background: #fff;
    color: #919191;
}

/* 登陆界面 */
.btn_weixin_gb{
	background : #1aca43;	
}
.btn_qq_gb{
	background : #029cfe;	
}
.btn_weibo_gb{
	background : #e82641;	
}
.third_party_color{
	color:#fff;
}

/*#region 引导页 */
.guide .x-innerhtml {
	height:100%;
}
.guide .bgImg1{
	height:100%;
	background-image:url('images/modern/main.png');
	background-size:100% 100%;
}
.guide .bgImg {
	height:100%;
	background-image:url('images/modern/main.png');
	background-size:100% 100%;
}
.guide .bv{
	text-align: center;
    color: wheat;
}
.guide .text {
	padding:3em;
}
/* 首页 */

.home .x-button {
	background-image:none;
	background-color:transparent;
	border:0;
	height: 75px;
	padding:0.2em 0;
}
.home .x-button .x-button-label {
	font-weight:normal;
	color:#3F444A;
	font-size:.7em;
	margin-top:.25em;
}
.home .x-button .x-button-icon {
	font-size:1.8em;
}

/* 首页相关 */
.index_news_margin{
	border:0px;
	border-bottom:1px solid #c5c5c5;
	line-height: 43px;
	padding:0px 0px 0px 5px;
}
/**/
.sort_list {
    padding: 0px 0px 10px 62px;
    position: relative;
    height: 40px;
    line-height: 24px;
}
.sort_list .num_logo {
    width: 50px;
    height: 42px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    left: 4px;
}
.sort_list .num_logo img{
	width : 50px;
	height : 42px;
}
.sort_list .num_name {
    color: #000;
}
.sort_list .num_name div{
	height : 20px;
}
.sort_list .num_name .phoneName{
	font-size:16px;
	color : #000;
}
.sort_list .num_name .deptClass{
	font-size:14px;
	color : 7b7a7a;
}
.sort_list .num_name .phoneStyle{
	font-size: 13px;
    color: #5f5f5f;
}

/*#region 信息提示 */

.message .x-mask-inner {
	background-color:Black;
	font-size:0.9em;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	top:7em;
}
.message .x-mask-message {
	line-height:1.8em;
	padding:0 0.3em;
}

.myToast{
    background: #868383eb;
    color: #000;
    border-radius: 4px;
    padding: 14px;
    font-size: 14px;
    font-weight: bolder;
}
/* 首页点击进入 */
.firstPageClickBtn{
    top: 10px;
    left: 77%;
    position: absolute;
    background: #4c9dec;
    border-radius: 5px;
    font-size: 14px;
    color: #f7f7f7;
    padding: 5px;
    border: 1px solid #2f2fe8;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}
/* 重写loadmask样式 */
.x-mask .x-mask-inner .x-mask-message {
    color: #ffffff;
    bottom: 15px;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    font-weight: 100;
}
.x-mask .x-mask-inner {
    position: relative;
    background: rgba(0,0,0,.65);
    color: #fff;
    text-align: center;
    padding: 0.4em;
    font-size: 0.95em;
    font-weight: bold;
}
.x-mask.x-has-message .x-loading-spinner-outer {
    height: 77px;
}
.x-loading-spinner > span.x-loading-top {
    background-color: rgba(255, 255, 255, 0.99);
}
.x-loading-spinner > span.x-loading-top::before {
    background-color: rgba(255, 255, 255, 0.15);
}
.x-loading-spinner > span.x-loading-top::after {
    background-color: rgba(255, 255, 255, 0.9);
}

.x-loading-spinner > span.x-loading-right {
    background-color: rgba(255, 255, 255, 0.99);
}
.x-loading-spinner > span.x-loading-right::before {
    background-color: rgba(255, 255, 255, 0.15);
}
.x-loading-spinner > span.x-loading-right::after {
    background-color: rgba(255, 255, 255, 0.9);
}

.x-loading-spinner > span.x-loading-left {
    background-color: rgba(255, 255, 255, 0.99);
}
.x-loading-spinner > span.x-loading-left::before {
    background-color: rgba(255, 255, 255, 0.15);
}
.x-loading-spinner > span.x-loading-left::after {
    background-color: rgba(255, 255, 255, 0.9);
}

.x-loading-spinner > span.x-loading-bottom {
    background-color: rgba(255, 255, 255, 0.99);
}
.x-loading-spinner > span.x-loading-bottom::before {
    background-color: rgba(255, 255, 255, 0.15);
}
.x-loading-spinner > span.x-loading-bottom::after {
    background-color: rgba(255, 255, 255, 0.9);
}
.x-mask .x-mask-inner .x-mask-message {
    color: #ffffff;
    bottom: 15px;
}

.my-btn{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.my-btn-danger {
    background-color: #FF5722;
}

.my-upload-file{
    display: none!important;
    opacity: .01;
    filter: Alpha(opacity=1);
}
.my-text em, .my-word-aux {
    color: #999!important;
    padding: 0 5px!important;
}
.my-btn, .my-edge, .my-inline, img {
    vertical-align: middle;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input[type="file"] {
    align-items: baseline;
    color: inherit;
    text-align: start;
}
input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}
/* 登陆界面样式 */

.x-form .x-scroll-container {
    background-image: url(images/modern/loginBg.jpg);
    display: block;
    background-size: 100% auto;
}

.login_btn .x-button{
	background:#157efb;
}
.login_btn .x-button .x-button-label{
	color:#fff;
}
.x-login-input-account-icon {
	font:normal normal normal 14px/1 FontAwesome;
	padding-left:8px;
}
.x-login-input-account-icon:before{
	content:"\f007";
	line-height: 35px;
    color: #a2a0a0;
    font-size: 23px;
}
.x-login-input-account-key-icon{
	font:normal normal normal 14px/1 FontAwesome;
	padding-left:8px;
}
.x-login-input-account-key-icon:before{
	content:"\f084";
	line-height: 35px;
    color: #a2a0a0;
    font-size: 23px;	
}
/* 状态栏样式 */
.status_toolbar{
	background:#00b63c;  
	color : #fff;
}
.x-toolbar .x-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
    padding-top: 0.3em;
    font-size: 24px;
}
/* 投诉离别列表界面样式 */
.complaint{
	font-size:13px;
}
.complaint .icon{
	float:left;
	width:30px;
	height:30px;
	border-radius:15px;
	color:#FFFFFF;
	background:#fa8131;
	text-align:center;
	font-size:20px;
}
.complaint .title{
	padding-left:30px;
	color : #000000;
}
.complaint .title span{
	float:right;
	color:#333333;
}
.complaint .content{
	padding-left:30px;
	color : #999999;
}
.complaint .bottom{
	padding-left:30px;
	color : #333333;
}
.complaint .bottom span{
	float:right;
	color : #333333;
}
/* 通知公告 */
.notice{
	float:left;
	width:100%;
	font-size:15px;
	padding:5px;
}
.notice .header{
	width:100%;
}
.notice .header .title{
	padding-left:30px;
	color : #000000;
}
.notice .header .title span{
	float:right;
	color:#333333;
}
.notice .icon{
	float:left;
	width:40px;
	line-height:40px;
	border-radius:50%;
	color:#FFFFFF;
	background:#fa8131;
	text-align:center;
    margin-top: 6%;
}
.notice .content{
	font-size:13px;
	color:#333333;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
}
.notice .bottom{
	float:right;
	color:#999999;
	padding-top:10px;
	font-size:13px;
}

/*  */
.propertyStyle{font-weight: bold;}
.propertyStyle div{float:left;color:#333333;width:100%;padding: 0px 5px 0px 5px;line-height: 20px;}
.propertyStyle span{float :right;font-weight:100;color:#999999;}
